html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    text-align: center;
    font-size: 20px;
}

img {
    height: 250px;
    width: 250px;
}

div {
    padding: 10px;
    text-align: center;
    margin: 10px auto;
    width: 250px;
    
}

.kimbap {
    background-color: rgb(210, 105, 30);
}

.jjajangmyeon {
    background-color: rgb(160, 82, 45);
}

.tteokbokki {
    background-color: rgb(165, 42, 42);
}